<template>
  <!-- Schedule Detail -->
  <section class="section has-background-primary">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="is-size-3">{{ schedule.date }}</h1>
          <time>{{ schedule.name }}</time>
        </div>
      </div>
      <div class="columns">
        <div class="column is-12">
          <p>{{ schedule.venue }}</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Schedule Detail -->
</template>

<script>
export default {
  name: 'ScheduleDetail',
  components: {},
  middleware: 'login-redirect',
  data() {
    return {
      // initial data schedule detail
      isScheduleLoading: false,
      schedule: {},
      errorSchedule: null,
    }
  },
  async created() {
    // call schedule detail
    await this.getScheduleDetail()
  },
  methods: {
    /**
     * method for call schedule detail api
     */
    async getScheduleDetail() {
      try {
        // set loading to true
        this.isScheduleLoading = true
        // get response data from api schedules with selected id
        const response = await this.$axios.$get(
          `schedules/${this.$route.params.id}`
        )
        // set response schedule data detail
        this.schedule = response
        // set loading to false
        this.isScheduleLoading = false
      } catch (error) {
        // set loading to false
        this.isScheduleLoading = false
      }
    },
  },
}
</script>
