<template>
  <!-- Schedule Section -->
  <section class="section has-background-primary">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="is-size-3">Schedules</h1>
        </div>
      </div>
      <div class="columns">
        <!-- Render news card data from api -->
        <div
          class="column is-4"
          v-for="schedule in listSchedules"
          :key="schedule.id"
        >
          <nuxt-link :to="`/schedules/${schedule.id}`">
            <div class="card">
              <div class="card-content">
                <p class="is-size-5 has-text-weight-bold">
                  {{ schedule.date }}
                </p>
                <p>{{ schedule.name }}</p>
                <p class="is-size-7">
                  {{ schedule.venue }}
                </p>
              </div>
            </div>
          </nuxt-link>
        </div>
        <!-- End of Render news card data from api -->
      </div>
      <div class="columns">
        <div class="column has-text-centered">
          <nuxt-link to="/schedules" class="button is-primary"
            >View All</nuxt-link
          >
        </div>
      </div>
    </div>
  </section>
  <!-- End of Schedule Section -->
</template>

<script>
export default {
  name: 'Schedules',
  components: {},
  middleware: 'login-redirect',
  data() {
    return {
      // initial data schedules
      isSchedulesLoading: false,
      listSchedules: [],
      errorSchedules: null,
    }
  },
  async created() {
    // call schedule api
    await this.getSchedules()
  },
  methods: {
    /**
     * method for call api schedules
     */
    async getSchedules() {
      try {
        // set loading to true
        this.isSchedulesLoading = true
        // get response data from api schedules
        const response = await this.$axios.$get(`schedules`)
        // set response schedules data
        this.listSchedules = response.slice(0, 3)
        // set loading to false
        this.isSchedulesLoading = false
      } catch (error) {
        // set loading to false
        this.isSchedulesLoading = false
      }
    },
  },
}
</script>
