<template>
  <div>
    <!-- Navbar -->
    <nav
      class="navbar header has-shadow is-primary"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/"> arianagrande </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <button class="button is-outlined is-default" @click="logout">
            Log Out
          </button>
        </div>
      </div>
    </nav>
    <!-- End of Navbar -->

    <section class="main-content columns">
      <!-- Sidebar -->
      <aside class="column is-3 section">
        <ul class="menu-list">
          <li v-for="(item, key) of items" :key="key">
            <nuxt-link :to="item.to" exact-active-class="is-active">
              <b-icon :icon="item.icon" /> {{ item.title }}
            </nuxt-link>
          </li>
        </ul>
      </aside>
      <!-- End of Sidebar -->

      <!-- View -->
      <div class="container column is-9">
        <nuxt />
      </div>
      <!-- End of View -->
    </section>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'DashboardLayout',
  data() {
    return {
      // Initial data sidebar
      items: [
        {
          title: 'Home',
          icon: 'home',
          to: { name: 'dashboard' },
        },
        {
          title: 'Fan Mails',
          icon: 'lightbulb',
          to: { name: 'fan-mails' },
        },
        {
          title: 'Ideas For Management',
          icon: 'lightbulb',
          to: { name: 'ideas-for-management' },
        },
        {
          title: 'Hate Comments',
          icon: 'lightbulb',
          to: { name: 'hate-comment' },
        },
      ],
    }
  },
  computed: {
    // get user from vuex/store
    ...mapGetters(['user']),
  },
  methods: {
    // get action clearUserAndToken from vuex/store
    ...mapActions(['clearUserAndToken']),
    // method for logout
    // this method called when user click logout button in the navbar
    logout() {
      this.clearUserAndToken()
      this.$router.push('/')
    },
  },
}
</script>
