<template>
  <div>
    <!-- Navbar -->
    <Navbar></Navbar>
    <!-- End of Navbar -->

    <!-- View -->
    <section class="main-content columns" style="margin-bottom: 0">
      <div
        class="container-fluid column is-12"
        style="padding-bottom: 0; padding-top: 0"
      >
        <nuxt />
      </div>
    </section>
    <!-- End of View -->

    <!-- Footer -->
    <footer class="footer has-background-black-ter">
      <div class="content has-text-centered">
        <p class="has-text-white">
          Artist’s management contact
          <a href="www.caa.com/arianagrande" class="has-text-primary"
            >www.caa.com/arianagrande</a
          >
          or
          <a href="mailto:scooterbraun@gmail.com" class="has-text-primary"
            >scooterbraun@gmail.com</a
          >
        </p>
        <div class="has-text-centered">
          <a
            href="https://twitter.com/ArianaGrande"
            class="has-text-primary m-r-md"
          >
            <font-awesome-layers class="fa-lg">
              <font-awesome-icon :icon="['fab', 'twitter']" />
            </font-awesome-layers>
          </a>
          <a
            href="https://www.facebook.com/arianagrande"
            class="has-text-primary m-r-md"
          >
            <font-awesome-layers class="fa-lg">
              <font-awesome-icon :icon="['fab', 'facebook']" />
            </font-awesome-layers>
          </a>
          <a
            href="https://www.instagram.com/arianagrande"
            class="has-text-primary m-r-md"
          >
            <font-awesome-layers class="fa-lg">
              <font-awesome-icon :icon="['fab', 'instagram']" />
            </font-awesome-layers>
          </a>
          <a
            href="https://www.youtube.com/c/arianagrande"
            class="has-text-primary m-r-md"
          >
            <font-awesome-layers class="fa-lg">
              <font-awesome-icon :icon="['fab', 'youtube']" />
            </font-awesome-layers>
          </a>
          <a
            href="https://itunes.apple.com/us/artist/ariana-grande/412778295"
            class="has-text-primary m-r-md"
          >
            <font-awesome-layers class="fa-lg">
              <font-awesome-icon :icon="['fab', 'spotify']" />
            </font-awesome-layers>
          </a>
          <a
            href="https://itunes.apple.com/us/artist/ariana-grande/412778295"
            class="has-text-primary m-r-md"
          >
            <font-awesome-layers class="fa-lg">
              <font-awesome-icon :icon="['fab', 'itunes']" />
            </font-awesome-layers>
          </a>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->
  </div>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data() {
    return {}
  },
}
</script>
