<template>
  <!-- Charity Section -->
  <section class="section" id="charity">
    <h1 class="is-size-3">Charities supported by Ariana Grande</h1>
    <p>
      <a
        class="has-text-info"
        href="https://www.looktothestars.org/charity/cancer-research-institute"
        >Visit Cancer Research Institute</a
      >
    </p>
    <p>
      <a
        class="has-text-info"
        href="https://www.looktothestars.org/charity/elizabeth-glaser-pediatric-aids-foundation"
        >Visit Elizabeth Glaser AIDS Foundation</a
      >
    </p>
    <p>
      <a
        class="has-text-info"
        href="https://www.looktothestars.org/charity/entertainment-industry-foundation"
        >Visit Entertainment Industry Foundation</a
      >
    </p>
    <p>
      <a
        class="has-text-info"
        href="https://www.looktothestars.org/charity/make-a-wish-foundation"
        >Visit Make a Wish Foundation</a
      >
    </p>
    <p>
      <a
        class="has-text-info"
        href="https://www.looktothestars.org/charity/melanoma-research-alliance"
        >Visit Melanoma Research Alliance</a
      >
    </p>
  </section>
  <!-- End of Charity Section -->
</template>

<script>
export default {
  name: 'Store',
  components: {},
  middleware: 'login-redirect',
}
</script>
<style scoped>
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
#charity {
  background: url('~assets/haha.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}
.wrapper h1 {
  margin-bottom: 40px;
  font-size: 42px;
  color: #fff;
}
.wrapper p {
  margin-bottom: 40px;
  color: #b2b2b2;
  font-size: 20px;
}
.newsletter {
  max-width: 550px;
  width: 100%;
  position: relative;
}
.newsletter .input {
  width: 100%;
  padding: 30px 100px 30px 60px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}
.newsletter .fas {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 20px;
}
.newsletter .btn {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  background: #000000;
  padding: 15px 20px;
  border-radius: 25px;
  font-size: 12px;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
h1 {
  padding-top: 15px;
  padding-bottom: 15px;
}
</style>
