<template>
  <!-- Form -->
  <section class="section has-background-primary">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <!-- Form Message -->
          <form @submit.prevent="submitMessage()">
            <!-- Email/Username Field -->
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Input your email"
                  v-model="message.name"
                />
              </div>
            </div>
            <!-- End of Email/Username Field -->
            <!-- Selection of Subject Field -->
            <div class="field">
              <label class="label">Subject</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select v-model="message.type">
                    <option value="" disabled selected>Select dropdown</option>
                    <option value="1">write and send fan mails</option>
                    <option value="2">
                      complaints/ideas to artist’s management for better future
                      content/works
                    </option>
                    <option value="3">
                      report hate/harrasement/degradation/threat comment
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <!-- End Selection of Subject Field -->
            <!-- Message Content Field -->

            <div class="field">
              <label class="label">Message</label>
              <div class="control">
                <textarea
                  class="textarea"
                  placeholder="Input your message"
                  v-model="message.content"
                ></textarea>
              </div>
            </div>
            <!-- End of Message Content Field -->
            <!-- Submit Message Button -->
            <div class="field is-grouped">
              <div class="control">
                <button type="submit" class="button is-white">Submit</button>
              </div>
            </div>
            <!-- End of Submit Message Button -->
          </form>
          <!-- End of Form Message -->
        </div>
      </div>
    </div>
  </section>
  <!-- Form -->
</template>

<script>
export default {
  name: 'Contact',
  components: {},
  middleware: 'login-redirect',
  data() {
    return {
      // initial data message
      message: {
        name: '',
        type: '',
        content: '',
      },
      isSubmitMessageLoading: false,
      errorSubmitMessage: null,
    }
  },
  methods: {
    /**
     * method for submit message
     */
    async submitMessage() {
      // check all field must be not empty
      try {
        if (!this.message.name || !this.message.type || !this.message.content)
          return false
        // setting config to connect api
        const qs = require('querystring')
        const config = {
          headers: { 'content-type': 'application/x-www-form-urlencoded' },
        }
        // set loading to true
        this.isSubmitMessageLoading = true
        // send data message to api messages
        const response = await this.$axios.$post(
          `messages`,
          qs.stringify(this.message),
          config
        )
        // set loading to false
        this.isSubmitMessageLoading = false
        // reset message field
        this.message = {
          name: '',
          type: '',
          content: '',
        }
        // show toast success send message
        this.$buefy.toast.open({
          message: 'Success send message!',
          type: 'is-success',
        })
      } catch (error) {
        // set error response
        this.errorSubmitMessage = error
        // set loading to false
        this.isSubmitMessageLoading = false
      }
    },
  },
}
</script>
