<template>
  <!-- Render ount message by type -->
  <section class="section">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content has-text-centered">
            <h1 class="is-size-3">
              {{ countListFanMail }}
            </h1>
            <p>Total Fan Mails</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content has-text-centered">
            <h1 class="is-size-3">
              {{ countListIdeasForManagement }}
            </h1>
            <p>Total Ideas For Management</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content has-text-centered">
            <h1 class="is-size-3">
              {{ countListHateComments }}
            </h1>
            <p>Total Hate Comments</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of render ount message by type -->
</template>

<script>
export default {
  name: 'HomePage',
  layout: 'dashboard',
  middleware: 'auth',
  data() {
    return {
      // initial data fanmails
      isListFanMailLoading: false,
      listFanMailErrors: null,
      countListFanMail: null,
      // initial data ideas for management
      isListIdeasForManagementLoading: false,
      listIdeasForManagementErrors: null,
      countListIdeasForManagement: null,
      // initial data hate comment
      isListHateCommentLoading: false,
      listHateCommentErrors: null,
      countListHateComments: null,
    }
  },
  async created() {
    // call count fan mail, ideas for management, hate comment
    await this.getCountListFanMail(1)
    await this.getCountListFanMail(2)
    await this.getCountListFanMail(3)
  },
  methods: {
    // method for call count fan mail, ideas for management, hate comment from api
    // type
    // 1: fan mail
    // 2: ideas for management
    // 3: hate comment
    async getCountListFanMail(type) {
      try {
        // condition for loading state = true by type
        if (type == 1) {
          this.isListFanMailLoading = true
        } else if (type == 2) {
          this.isListIdeasForManagementLoading = true
        } else if (type == 3) {
          this.isListHateCommentLoading = true
        }
        // get response from api by type
        const response = await this.$axios.$get(`messages/count`, {
          params: {
            type_eq: type,
          },
        })
        // condition for set data and loading state = false by type
        if (type == 1) {
          this.countListFanMail = response
          this.isListFanMailLoading = false
        } else if (type == 2) {
          this.countListIdeasForManagement = response
          this.isListIdeasForManagementLoading = false
        } else if (type == 3) {
          this.countListHateComments = response
          this.isListHateCommentLoading = false
        }
      } catch (error) {
        // condition for loading state = false by type
        if (type == 1) {
          this.isListFanMailLoading = false
        } else if (type == 2) {
          this.isListIdeasForManagementLoading = false
        } else if (type == 3) {
          this.isListHateCommentLoading = false
        }
      }
    },
  },
}
</script>
