<template>
  <section class="section">
    <div class="columns is-multiline">
      <!-- Render Message from api -->
      <div class="column is-6" v-for="fanMail in listFanMail" :key="fanMail.id">
        <div class="card">
          <div class="card-content">
            <p class="has-text-weight-bold">
              {{ fanMail.name }}
            </p>
            <p>
              {{ fanMail.content }}
            </p>
            <small>
              {{ fanMail.created_at }}
            </small>
          </div>
        </div>
      </div>
      <!-- Render Message from api -->
    </div>
  </section>
</template>

<script>
export default {
  name: 'FanMails',
  layout: 'dashboard',
  middleware: 'auth',
  data() {
    return {
      // initial data
      listFanMail: [],
      isListFanMailLoading: false,
      listFanMailErrors: null,
    }
  },
  async created() {
    // call method get fan mail data
    await this.getListFanMail()
  },
  methods: {
    // method for get fan mail data from api
    async getListFanMail() {
      try {
        // set loading to true
        this.isListFanMailLoading = true
        // get message with type 1 from api
        const response = await this.$axios.$get(`messages`, {
          params: {
            type_eq: 1,
          },
        })
        // set response from api
        this.listFanMail = response
        // set loading to false
        this.isListFanMailLoading = false
      } catch (error) {
        // set loading to false
        this.isListFanMailLoading = false
      }
    },
  },
}
</script>
