<template>
  <!-- Gallery Section -->
  <section class="section has-background-primary">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="is-size-3">Gallery</h1>
        </div>
      </div>
      <div class="columns is-multiline">
        <div class="column is-4">
          <img src="~assets/gallery/1.jpg" class="img-gallery" alt="" />
        </div>
        <div class="column is-4">
          <img src="~assets/gallery/2.jpeg" class="img-gallery" alt="" />
        </div>
        <div class="column is-4">
          <img src="~assets/gallery/3.jpg" class="img-gallery" alt="" />
        </div>
        <div class="column is-4">
          <img src="~assets/gallery/4.jpg" class="img-gallery" alt="" />
        </div>
        <div class="column is-4">
          <img src="~assets/gallery/5.png" class="img-gallery" alt="" />
        </div>
        <div class="column is-4">
          <img src="~assets/gallery/6.jpg" class="img-gallery" alt="" />
        </div>
        <div class="column is-4">
          <img src="~assets/gallery/7.jpg" class="img-gallery" alt="" />
        </div>
        <div class="column is-4">
          <img src="~assets/gallery/8.jpg" class="img-gallery" alt="" />
        </div>
        <div class="column is-4">
          <img src="~assets/gallery/9.jpg" class="img-gallery" alt="" />
        </div>
        <div class="column is-4">
          <img src="~assets/gallery/10.jpeg" class="img-gallery" alt="" />
        </div>
        <div class="column is-4">
          <img src="~assets/gallery/11.jpg" class="img-gallery" alt="" />
        </div>
        <div class="column is-4">
          <img src="~assets/gallery/12.jpg" class="img-gallery" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- End of Gallery Section -->
</template>

<script>
export default {
  name: 'Gallery',
  components: {},
  middleware: 'login-redirect',
}
</script>
