<template>
  <div>
    <!-- Carousel Section -->
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <!-- Carousel Component from Buefy -->
            <b-carousel
              :autoplay="autoPlay"
              :arrow="arrow"
              :repeat="arrowBoth"
              :arrow-hover="arrowHover"
              :pause-hover="pauseHover"
              :icon-pack="iconPack"
              :icon-prev="iconPrev"
              :icon-next="iconNext"
              :icon-size="iconSize"
            >
              <b-carousel-item v-for="(carousel, i) in carousels" :key="i">
                <figure class="image is-16by9">
                  <img
                    :src="require(`~/assets/gallery/${carousel.filename}`)"
                  />
                </figure>
              </b-carousel-item>
            </b-carousel>
            <!-- End of Carousel Component from Buefy -->
          </div>
        </div>
      </div>
    </section>
    <!-- End of Carousel Section -->
    <!-- About Section -->
    <section class="section has-background-white-bis">
      <div class="container">
        <div class="columns">
          <div class="column is-6">
            <h1 class="is-size-4 m-b-md">About Ariana Grande</h1>
            <p class="m-b-md">
              Ariana Grande starts to perform onstage when she was a child. Her
              involvement in Broadway play starts as early as age 15, followed
              by small TV parts that helped her land the role of Cat on TV's
              Victorious, followed by the spinoff Sam & Cat and then dove
              headfirst into a chart-topping musical career by releasing six
              albums: Yours Truly (2013), My Everything (2014), Dangerous Woman
              (2016), Sweetener (2018) and Thank U, Next (2019), and Positions
              (2020).
            </p>

            <nuxt-link to="/about" class="button is-primary"
              >Know More</nuxt-link
            >
          </div>
          <div class="column is-6 has-text-centered">
            <img
              src="https://images.sk-static.com/images/media/profile_images/artists/4971683/huge_avatar"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End of About Section -->
    <!-- News Section -->
    <section class="section has-background-primary">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="is-size-3">News</h1>
          </div>
        </div>
        <div class="columns">
          <!-- Render news card data from api -->
          <div class="column is-4" v-for="news in listNews" :key="news.id">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img
                    :src="news.image_url"
                    alt="Placeholder image"
                    style="object-fit: cover"
                  />
                </figure>
              </div>
              <div class="card-content has-background-white-bis">
                <nuxt-link
                  :to="`/news/${news.id}`"
                  class="has-text-primary has-text-weight-bold is-size-5"
                >
                  {{ news.title }}
                </nuxt-link>

                <div class="content">
                  {{ news.content.slice(0, 150) + '...' }}
                  <br />
                  <time>{{ news.created_at }}</time>
                </div>
              </div>
            </div>
          </div>
          <!-- End of render news card data from api -->
        </div>
        <div class="columns">
          <div class="column has-text-centered">
            <nuxt-link to="/news" class="button is-white">View All</nuxt-link>
          </div>
        </div>
      </div>
    </section>
    <!-- End of News Section -->
    <!-- Schedule Section -->
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="is-size-3">Schedules</h1>
          </div>
        </div>
        <div class="columns">
          <!-- Render news card data from api -->
          <div
            class="column is-4"
            v-for="schedule in listSchedules"
            :key="schedule.id"
          >
            <nuxt-link :to="`/schedules/${schedule.id}`">
              <div class="card">
                <div class="card-content">
                  <p class="is-size-5 has-text-weight-bold">
                    {{ schedule.date }}
                  </p>
                  <p>{{ schedule.name }}</p>
                  <p class="is-size-7">
                    {{ schedule.venue }}
                  </p>
                </div>
              </div>
            </nuxt-link>
          </div>
          <!-- End of render news card data from api -->
        </div>
        <div class="columns">
          <div class="column has-text-centered">
            <nuxt-link to="/schedules" class="button is-primary"
              >View All</nuxt-link
            >
          </div>
        </div>
      </div>
    </section>
    <!-- End of Schedule Section -->
    <!-- Gallery & Videos Section-->
    <section class="section">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-8">
            <figure class="image is-16by9">
              <iframe
                class="has-ratio"
                width="640"
                height="360"
                src="https://www.youtube.com/embed/iS1g8G_njx8"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </figure>
          </div>
          <div class="column is-4">
            <div class="columns is-multiline">
              <div class="column is-12">
                <img src="~assets/gallery/1.jpg" class="img-gallery" alt="" />
              </div>
              <div class="column is-12">
                <img src="~assets/gallery/2.jpeg" class="img-gallery" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column has-text-centered">
            <nuxt-link to="/gallery" class="button is-primary"
              >View All</nuxt-link
            >
          </div>
        </div>
      </div>
    </section>
    <!-- End of Gallery & Videos Section-->
    <!-- Form Message Section -->
    <section class="section has-background-white-bis">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <!-- Form Message -->
            <form @submit.prevent="submitMessage()">
              <!-- Email/Username Field -->
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    placeholder="Input your email"
                    v-model="message.name"
                  />
                </div>
              </div>
              <!-- End of Email/Username Field -->
              <!-- Selection of Subject Field -->
              <div class="field">
                <label class="label">Subject</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select v-model="message.type">
                      <option value="" disabled selected>
                        Select dropdown
                      </option>
                      <option value="1">write and send fan mails</option>
                      <option value="2">
                        complaints/ideas to artist’s management for better
                        future content/works
                      </option>
                      <option value="3">
                        report hate/harrasement/degradation/threat comment
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- End Selection of Subject Field -->
              <!-- Message Content Field -->
              <div class="field">
                <label class="label">Message</label>
                <div class="control">
                  <textarea
                    class="textarea"
                    placeholder="Input your message"
                    v-model="message.content"
                  ></textarea>
                </div>
              </div>
              <!-- End of Message Content Field -->
              <!-- Submit Message Button -->
              <div class="field is-grouped">
                <div class="control">
                  <button type="submit" class="button is-primary">
                    Submit
                  </button>
                </div>
              </div>
              <!-- End of Submit Message Button -->
            </form>
            <!-- End of Form Message -->
          </div>
        </div>
      </div>
    </section>
    <!-- End of Form Message Section -->
  </div>
</template>

<script>
export default {
  name: 'HomePage',
  components: {},
  middleware: 'login-redirect',
  data() {
    return {
      // Initial Carousel data
      arrow: false,
      arrowBoth: true,
      arrowHover: false,
      pauseHover: false,
      autoPlay: true,
      iconPack: 'mdi',
      iconPrev: 'arrow-left',
      iconNext: 'arrow-right',
      iconSize: '',
      carousels: [
        { filename: '1.jpg' },
        { filename: '4.jpg' },
        { filename: '3.jpg' },
      ],
      // Initial posts/news data
      isNewsLoading: false,
      listNews: [],
      errorNews: null,
      // Initial schedules data
      isSchedulesLoading: false,
      listSchedules: [],
      errorSchedules: null,
      // Initial message data
      message: {
        name: '',
        type: '',
        content: '',
      },
      isSubmitMessageLoading: false,
      errorSubmitMessage: null,
    }
  },
  async created() {
    // call news api
    await this.getNews()
    // call news schedules api
    await this.getSchedules()
  },
  methods: {
    /**
     * method for call api news
     */
    async getNews() {
      try {
        // set loading to true
        this.isNewsLoading = true
        // get response data from api posts
        const response = await this.$axios.$get(`posts`)
        this.listNews = response.slice(0, 3)
        // set loading to false
        this.isNewsLoading = false
      } catch (error) {
        // set loading to false
        this.isNewsLoading = false
      }
    },
    /**
     * method for call api schedules
     */
    async getSchedules() {
      try {
        // set loading to true
        this.isSchedulesLoading = true
        // get response data from api schedules
        const response = await this.$axios.$get(`schedules`)
        // set response data shedules from api
        this.listSchedules = response.slice(0, 3)
        // set loading to false
        this.isSchedulesLoading = false
      } catch (error) {
        // set loading to false
        this.isSchedulesLoading = false
      }
    },
    /**
     * method for submit message
     */
    async submitMessage() {
      try {
        // check all field must be not empty
        if (!this.message.name || !this.message.type || !this.message.content)
          return false
        // setting config to connect api
        const qs = require('querystring')
        const config = {
          headers: { 'content-type': 'application/x-www-form-urlencoded' },
        }
        // set loading to true
        this.isSubmitMessageLoading = true
        // send data message to api messages
        const response = await this.$axios.$post(
          `messages`,
          qs.stringify(this.message),
          config
        )
        // set loading to false
        this.isSubmitMessageLoading = false
        // reset message field
        this.message = {
          name: '',
          type: '',
          content: '',
        }
        // show toast success send message
        this.$buefy.toast.open({
          message: 'Success send message!',
          type: 'is-success',
        })
      } catch (error) {
        // set error response
        this.errorSubmitMessage = error
        // set loading to false
        this.isSubmitMessageLoading = false
      }
    },
  },
}
</script>
<style lang="scss">
.img-gallery {
  height: 234px;
  object-fit: cover;
  width: 100%;
}
</style>
