<template>
  <!-- Media Section -->
  <section id="media">
    <h1>Connect With Ariana</h1>
    <div class="media">
      <a
        href="https://open.spotify.com/artist/66CXWjxzNUsdJxJ2JdwvnR?si=iG1sZxJLRb6ewlCfUrbU-Q"
      >
        <font-awesome-layers class="fa-lg">
          <font-awesome-icon :icon="['fab', 'spotify']" /> </font-awesome-layers
      ></a>
      <a href="https://www.instagram.com/arianagrande/">
        <font-awesome-layers class="fa-lg">
          <font-awesome-icon
            :icon="['fab', 'instagram']"
          /> </font-awesome-layers
      ></a>
      <a href="https://www.twitter.com/ArianaGrande/">
        <font-awesome-layers class="fa-lg">
          <font-awesome-icon :icon="['fab', 'twitter']" />
        </font-awesome-layers>
      </a>
      <a href="https://www.facebook.com/arianagrande">
        <font-awesome-layers class="fa-lg">
          <font-awesome-icon
            :icon="['fab', 'facebook']"
          /> </font-awesome-layers
      ></a>
      <a href="https://www.youtube.com/channel/UC9CoOnJkIBMdeijd9qYoT_g">
        <font-awesome-layers class="fa-lg">
          <font-awesome-icon :icon="['fab', 'youtube']" /> </font-awesome-layers
      ></a>
    </div>
    <p>Latest tweets From Ariana</p>
    <div class="tweet">
      <a
        class="twitter-timeline"
        data-width="800"
        data-height="480"
        href="https://twitter.com/ArianaGrande?ref_src=twsrc"
        >Tweets by ArianaGrande</a
      >
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
      ></script>
    </div>
  </section>
  <!-- End of Media Section -->
</template>

<script>
export default {
  name: 'Media',
  components: {},
  middleware: 'login-redirect',
}
</script>
<style scoped>
#media {
  background: #282828;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 4000%;
  height: 1000px;
  background-position: 0% 50%;
  /* animation: Gradient 15s ease infinite; */
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.media {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tweet {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
}

p {
  margin-top: 100px;
  font-weight: ligher;
  font-size: 80px;
  color: #ffb6c1;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -20%);
}

a {
  list-style: none;
  margin: 10px 30px;
  display: inline-block;
  font-size: 50px;
  padding: 20px 20px;
  color: #ffb6c1;
  border: 3px solid #ffb6c1;
  border-radius: 50%;
  transition: 0.7s;
}

a:hover {
  color: #666666;
  border: 3px solid #666666;
  transition: 0.5s;
}

h1 {
  font-weight: lighter;
  font-size: 120px;
  color: #ffb6c1;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 0;
}
</style>
