<template>
  <!-- Store Section -->
  <section id="store">
    <h1 class="m-b-md">Ariana Grande</h1>
    <p>
      <a href="https://shop.arianagrande.com"
        >Click here to see Ariana Grande's merchandise</a
      >
    </p>
  </section>
  <!-- End of Store Section -->
</template>

<script>
export default {
  name: 'Store',
  components: {},
  middleware: 'login-redirect',
}
</script>
<style scoped>
#store {
  margin: 0;
  padding: 0;
  background: #e74c3c;
  height: 100vh;
}
h1 {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 4em;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
p {
  margin-top: 30px;
  font-weight: ligher;
  font-size: 30px;
  font-family: arial;
  color: #ffb6c1;
  text-align: center;
  padding-top: 120px;
  margin-bottom: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -20%);
}

a {
  text-decoration: underline;
  color: #2f80ed;
}

@keyframes bgcolor {
  0% {
    background: #e74c3c;
  }
  20% {
    background: #2980b9;
  }
  40% {
    background: #f1c40f;
  }
  60% {
    background: #8e44ad;
  }
  80% {
    background: #34495e;
  }
  100% {
    background: #e74c3c;
  }
}
</style>
