<template>
  <!-- Subscribe Section -->
  <section id="subscribe">
    <div class="wrapper">
      <h1>Subscribe To Our Website</h1>
      <p>Receive updates instantly</p>
      <div class="newsletter">
        <input
          type="email"
          name="email"
          class="input"
          placeholder="Enter Your Email"
          required
        />
        <i class="fas fa-envelope"></i>
        <div class="btn">Subscribe</div>
      </div>
    </div>
  </section>
  <!-- End of Subscribe Section -->
</template>

<script>
export default {
  name: 'Subscribe',
  components: {},
  middleware: 'login-redirect',
}
</script>
<style scoped>
#subscribe {
  background: url('~assets/arn.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}
.wrapper h1 {
  margin-bottom: 40px;
  font-size: 42px;
  color: #fff;
}
.wrapper p {
  margin-bottom: 40px;
  color: #b2b2b2;
  font-size: 20px;
}
.newsletter {
  max-width: 550px;
  width: 100%;
  position: relative;
}
.newsletter .input {
  width: 100%;
  padding: 30px 100px 30px 60px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}
.newsletter .fas {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 20px;
}
.newsletter .btn {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  background: #000000;
  padding: 15px 20px;
  border-radius: 25px;
  font-size: 12px;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
</style>
